---
import Section from '@/components/Section.astro'

import { education } from '@/cv'
---

<Section title="Educación">
  {
    education.map(({ institution, startDate, endDate, url, area }) => {
      const startYear = new Date(startDate).getFullYear();
      const endYear =
        endDate != "" ? new Date(endDate).getFullYear() : "Actual";
      return (
        <article>
          <header>
            <h4>
              <a href={url} target="_blank">
                {institution}
              </a>
              <time>
                {startYear} <span>-</span> {endYear}
              </time>
            </h4>
          </header>
          <p>{area}</p>
        </article>
      );
    })
  }
</Section>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  a {
    color: #09090b;
    font-size: 14px;
    font-weight: 700;
  }

  a:hover {
    text-decoration: underline;
  }

  time {
    color: #525468;
    font-size: 14px;
    font-family: "Monaspace Argon";
    font-weight: 400;
  }

  time > span {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    line-height: 0.5;
  }

  p {
    color: #60637a;
    font-weight: 400;
    font-size: 14px;
  }
</style>
