---
import Section from "@/components/Section.astro";

import { work } from "@/cv";
---

<Section title="Experiencia">
  <ul>
    {
      work.map(({ name, startDate, endDate, position, summary, url }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != "" ? new Date(endDate).getFullYear() : "Actual";
        return (
          <li>
            <header>
              <h4>
                <a href={url} target="_blank">
                  {name}
                </a>
                <time>
                  {startYear} <span>-</span> {endYear}
                </time>
              </h4>
              <h3>{position}</h3>
            </header>
            <p>{summary}</p>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  a {
    color: #09090b;
    font-size: 14px;
    font-weight: 700;
  }

  a:hover {
    text-decoration: underline;
  }

  time {
    color: #525468;
    font-size: 14px;
    font-family: "Monaspace Argon";
    font-weight: 400;
  }

  time > span {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    line-height: 0.5;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Monaspace Argon";
    color: #3f3f4b;
  }

  p {
    color: #60637a;
    font-weight: 400;
    font-size: 14px;
  }
</style>
