---
import Section from "@/components/Section.astro";
import YearsOfExperience from "@/components/YearsOfExperience.astro";

import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";
import Whatsapp from "@/icons/Whatsapp.astro";
import World from "@/icons/World.astro";
import X from "@/icons/X.astro";

import { basics } from "@/cv";

const { name, label_1, label_2, image, location, profiles, phone, email } =
  basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  X,
};

const linkedinInfo = profiles.find(({ network }) => network === "LinkedIn");
const likedinUrl = linkedinInfo?.url;

const printInfo = [email, phone, likedinUrl].filter(Boolean).join(" • ");
---

<Section>
  <div>
    <figure>
      <img src={image} alt={name} />
    </figure>
    <article class="container">
      <main class="info">
        <h1>{name}</h1>
        <p>
          {label_1}
          <YearsOfExperience />
          {label_2}
        </p>
      </main>
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="no-print">
        <span>
          <World width="18" height="18" />
          {city}, {region}
        </span>
        <section>
          {
            email && (
              <a
                href={`mailto:${email}`}
                aria-label={`Enviar un correo electrónico a ${name} al correo ${email}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Mail width="18" height="18" />
              </a>
            )
          }
          {
            Whatsapp && (
              <a
                href={`https://wa.me/${phone}`}
                aria-label={`Enviar un mensaje de WhatsApp a ${name} al número ${phone}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Whatsapp width="18" height="18" />
              </a>
            )
          }
          {
            profiles.map(({ network, url }) => {
              const Icon = SOCIAL_ICONS[network];

              return (
                <a
                  href={url}
                  target="_blank"
                  aria-label={`Visitar el perfil de ${name} en ${network}`}
                  rel="noopener noreferrer"
                >
                  <Icon width="18" height="18" />
                </a>
              );
            })
          }
        </section>
      </footer>
    </article>
  </div>
</Section>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .container,
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    color: #000;
  }

  p {
    color: #3f3f4b;
    font-weight: 500;
    font-size: 14px;
  }

  figure {
    margin: 0 auto;
    width: 120px;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 120px;
    border-radius: 12px;
  }

  span {
    font-family: "Monaspace Argon";
    color: #60637a;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
  }

  footer {
    width: 100%;
    display: flex;
  }

  a {
    color: #60637a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #f4f5f7;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 2px 0px #e4e5e9;
  }

  a:hover {
    background-color: #f4f5f7;
  }

  .print {
    display: none;
  }

  .no-print {
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  section {
    display: inline-flex;
    gap: 6px;
    padding: 0 0 4px 0;
    padding-bottom: 4px;
  }

  @media print {
    .no-print {
      display: none;
    }
  }

  @media print {
    .print {
      display: block;
    }
  }

  @media (min-width: 620px) {
    div {
      margin-top: 32px;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

      .container {
        padding-right: 24px;
        align-items: flex-start;

        .info {
          align-items: flex-start;
          text-align: left;
        }

        .no-print {
          align-items: flex-start;
        }
      }
    }
  }
</style>
