---
import Section from "@/components/Section.astro";

import GitHub from "@/icons/GitHub.astro";

import { projects } from "@/cv";
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(
        ({ url, repository, description, highlights, name, isActive }) => {
          return (
            <li>
              <header>
                <h4>
                  <a href={url} title={`Ver el proyecto ${name}`}>
                    {name}
                  </a>
                  {isActive && <span>•</span>}
                </h4>
                <a href={repository}>
                  <GitHub width="18" height="18" />
                </a>
              </header>
              <p>{description}</p>
              <footer>
                {highlights.map((highlights) => {
                  return <span>{highlights}</span>;
                })}
              </footer>
            </li>
          );
        },
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 14px;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 14px;
    border-radius: 8px;
    border: 0.5px solid #f4f5f7;
    box-shadow: 0px 1px 2px 0px #e4e5e9;
  }

  header {
    display: inline-flex;
    gap: 8px;
  }

  h4 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Monaspace Argon";
  }

  h4 span {
    color: #00bc2f;
    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  h4 > a {
    color: #3f3f4b;
  }

  header > a {
    color: #000;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    color: #60637a;
    font-size: 12px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 10px;
  }

  footer span {
    background: #f4f5f7;
    color: #525468;
    font-size: 10px;
    font-family: "Monaspace Argon";
    font-weight: 400;
    padding: 2px 10px;
    border-radius: 9999px;
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.25;
    }

    100% {
      opacity: 1;
    }
  }
</style>
