---
interface Props {
  action: string;
  className: string;
  hotkey: string;
  url?: string;
  selected?: boolean;
  letterClass: string;
}

const { action, className, hotkey, url, selected, letterClass } = Astro.props;
---

<a class={className} href={url} aria-selected={selected} target="_blank">
  <section>
    <slot name="icon" />
    <p>{action}</p>
  </section>
  <span>
    <kbd>Ctrl</kbd>
    <kbd class={letterClass}>{hotkey}</kbd>
  </span>
</a>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 2px solid transparent;
    cursor: pointer;
    padding: 12px 16px 12px 20px;

    section {
      display: inline-flex;
      align-items: center;

      svg {
        color: #60637a;
        stroke-width: 2;
      }

      p {
        color: #60637a;
        font-family: "Monaspace Neon";
        font-size: 14px;
        font-weight: 500;
        padding-left: 4px;
      }
    }

    span {
      display: inline-flex;
      align-items: center;
      gap: 8px;

      kbd {
        padding: 1px 4px;
        color: #7b7f95;
        font-family: "Monaspace Argon";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        border-radius: 4px;
        background: #e4e5e9;
        text-transform: capitalize;
      }
    }
  }
</style>
